<!--<br><span><%#= dimension.name %></span>-->
<%= croppers_fields.hidden_field :x, id: "#{dimension.id}_cropper_x" %>
<%= croppers_fields.hidden_field :y, id: "#{dimension.id}_cropper_y" %>
<%= croppers_fields.hidden_field :width, id: "#{dimension.id}_cropper_width" %>
<%= croppers_fields.hidden_field :height, id: "#{dimension.id}_cropper_height" %>
<%= croppers_fields.hidden_field :dimension_id, id: "#{dimension.id}_cropper_dimension" %>
