<%= content_for :head do %>
<%= javascript_include_tag 'rcrop/rcrop.min' %>
<%= javascript_include_tag 'spree/backend/cropper' %>
<%= stylesheet_link_tag 'rcrop/rcrop.min' %>
<% end %>

<div class="row">
  <div class="col-lg-6">
  <% if local_assigns[:resource_name] %>
    <%= f.fields_for resource_name do |image_combine_fields| %>
      <div class="form-group">
        <% selected = resource.boundary_type.try(:id) || Spree::ImageCombineBlockType.model_id(f.object.class.name) %>
        <%= image_combine_fields.label :boundary_type %>
        <%= image_combine_fields.select :boundary_type_id, Spree::ImageCombineBlockType.all.map { |t| ["#{t.name}", t.id] }, { selected: selected }, { class: "select2", id: 'select2-boundary_type_id' } %>
        <% if resource.boundary_type.blank? %>
          <span style="color: red;">Тип не назначен! Система попыталась определить его, если выбор не верный, сделайте это самостоятельно и сохраните перед редактированием границ изобрвжения</span>
        <% end %>
      </div>
      <div class="form-group">
        <%= image_combine_fields.fields_for :cropped_image, resource.cropped_image || resource.build_cropped_image do |cropped_image_fields| %>
          <%= cropped_image_fields.label :attachment %>
          <%= cropped_image_fields.file_field :attachment %>
          <%= error_message_on resource.cropped_image, :attachment %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <%= f.fields_for :cropped_image, resource.cropped_image || resource.build_cropped_image do |cropped_image_fields| %>
      <%= cropped_image_fields.label :attachment %>
      <%= cropped_image_fields.file_field :attachment %>
      <%= error_message_on resource.cropped_image, :attachment %>
    <% end %>
  <% end %>
  </div>
</div>

<div id="image-cropper">
  <% if local_assigns[:resource_name] %>
    <%= render partial: 'spree/admin/shared/cropped_image_form', locals: { f: f, resource: resource, resource_name: resource_name } %>
  <% else %>
    <%= render partial: 'spree/admin/shared/cropped_image_form', locals: { f: f, resource: resource } %>
  <% end %>
</div>
